#title {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.label {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.button {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
}
